
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Roboto&family=Tektur&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Tektur';
    box-sizing: border-box;
    
}

body {
    min-height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(250, 250, 250);
}

.container{
    width: 360px;
    height: 650px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.4);
}


.music-player{
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
    font-size: 16px;
    z-index: 10;
    color: #ffffff;
}

.container.active .music-player{
    color: #080808;
}

i{
    cursor: pointer;
    transition: all 500ms /* Animation */
}
  
i:hover {
    transform: scale(1.5);
    color: #35c4ef;
}

i.active {
    color: #ffffff;
}

.cover-image {
    width: 100%;
    height: 360px;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("Media/singer.jpg");
    background-position: center;
    transform-origin: 0% 0%;
}

.container.active .cover-image{
    transform: scale(0.251);
    left: 23px;
    top: 60px;
    border-radius: 20px;
}

.player-body {
    position: absolute;
    top: 360px;
    left: 0;
    height: 290px;
    width: 100%;
    background-color: black;
    transition: all 100ms;
}

.container.active .player-body {
    height: 470px;
    left: 0;
    top: 180px;
}

.list-wrapper{
    height: 425px;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    top: 350px;
    transform-origin: 0% 0%;
    transition: all 250ms;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.1);
}

.container.active .list-wrapper{
    top: 180px;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}


.list {
    width: 100%;
    border-spacing: 0px 2px;
}

.list tr{
    height: 50px;
    text-align: center;
    background-color: black;
    text-indent: 8px;
    transform-origin: 0% 50%;
}

.list tr:hover {
    background-color: #1d1d1d;
}

.list .title {
    width: 215px;
    text-align: left;
    text-indent: 15px;
    transition: all 250ms;
}

.list tr:hover .title {
    padding-left: 5px;
    width: 210px;
}

.current-song-title {
    position: absolute;
    right: 23px;
    font-size: 14px;
    bottom: -60px;
    transition: all 250ms;
}

.container.active .current-song-title{
    bottom: 10px;
}
.info{
    position: absolute;
    left: 50%;
    top: 440px;
    transform: translateX(-50%);
    text-align: center;
    transition: all 250ms;
}

.info h2{
    font-size: 16px;
    margin-bottom: 5px;
}

.info h3{
    font-size: 10px;
    color: #6d6d6d;
}

.container.active .info{
    top: 66px;
    left: 126px;
    text-align: left;
    transform: translateX(0);
    color: #080808;
}

.controls{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    width: 100%;
    height: 35px;
    position: absolute;
    bottom: 100px;
    z-index: 10;
}

.container.active .controls{
    position:absolute;
    width: 215px;
    bottom: 5px;
    left: -45px;
    transform: scale(0.5);
}

.more-controls{
    color: #6d6d6d;
    font-size: 15px;
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    position: absolute;
    bottom: 10px;
    z-index: 20;
    transition: all 250ms;
}

.container.active .more-controls{
    bottom: -60px;
}

@media all and (max-width: 500px) {
    body {
        color: aliceblue;
    }
}